In [1]:
import pandas as pd
import requests

In [2]:
def load_data_from_api(*args, **kwargs):
    """
    Template for loading data from API
    """
    url = 'https://data.cityofnewyork.us/api/views/h9gi-nx95/rows.csv?accessType=DOWNLOAD'

    dtypes = {
            "BOROUGH"                          : str,
            "ZIP CODE"                         : str,
            "LATITUDE"                         : str,
            "LONGITUDE"                        : str,
            "LOCATION"                         : str,
            "ON STREET NAME"                   : str,
            "CROSS STREET NAME"                : str,
            "OFF STREET NAME"                  : str,
            "NUMBER OF PERSONS INJURED"        : pd.Int64Dtype(),
            "NUMBER OF PERSONS KILLED"         : pd.Int64Dtype(),
            "NUMBER OF PEDESTRIANS INJURED"    : pd.Int64Dtype(),
            "NUMBER OF PEDESTRIANS KILLED"     : pd.Int64Dtype(),
            "NUMBER OF CYCLIST INJURED"        : pd.Int64Dtype(),
            "NUMBER OF CYCLIST KILLED"         : pd.Int64Dtype(),
            "NUMBER OF MOTORIST INJURED"       : pd.Int64Dtype(),
            "NUMBER OF MOTORIST KILLED"        : pd.Int64Dtype(),
            "CONTRIBUTING FACTOR VEHICLE 1"    : str,
            "CONTRIBUTING FACTOR VEHICLE 2"    : str,
            "CONTRIBUTING FACTOR VEHICLE 3"    : str,
            "CONTRIBUTING FACTOR VEHICLE 4"    : str,
            "CONTRIBUTING FACTOR VEHICLE 5"    : str,
            "COLLISION_ID"                     : pd.Int64Dtype(),
            "VEHICLE TYPE CODE 1"              : str,
            "VEHICLE TYPE CODE 2"              : str,
            "VEHICLE TYPE CODE 3"              : str,
            "VEHICLE TYPE CODE 4"              : str,
            "VEHICLE TYPE CODE 5"              : str
    }

    parsed_dates = ["CRASH DATE", "CRASH TIME"]

    df = pd.read_csv(url, dtype=dtypes, parse_dates=parsed_dates)
    
    return df

In [3]:
df = load_data_from_api()

C:\Users\adity\AppData\Local\Temp\ipykernel_40728\1890445112.py:39: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv(url, dtype=dtypes, parse_dates=parsed_dates)

In [4]:
df.head(10)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2021-09-11,2024-03-29 02:39:00,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,2022-03-26,2024-03-29 11:45:00,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,2022-06-29,2024-03-29 06:55:00,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,2021-09-11,2024-03-29 09:35:00,BROOKLYN,11208,40.667202,-73.8665,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,2021-12-14,2024-03-29 08:13:00,BROOKLYN,11233,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
5,2021-04-14,2024-03-29 12:47:00,NaN,NaN,NaN,NaN,NaN,MAJOR DEEGAN EXPRESSWAY RAMP,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4407458,Dump,Sedan,NaN,NaN,NaN
6,2021-12-14,2024-03-29 17:05:00,NaN,NaN,40.709183,-73.956825,"(40.709183, -73.956825)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4486555,Sedan,Tractor Truck Diesel,NaN,NaN,NaN
7,2021-12-14,2024-03-29 08:17:00,BRONX,10475,40.86816,-73.83148,"(40.86816, -73.83148)",NaN,NaN,344 BAYCHESTER AVENUE,...,Unspecified,NaN,NaN,NaN,4486660,Sedan,Sedan,NaN,NaN,NaN
8,2021-12-14,2024-03-29 21:10:00,BROOKLYN,11207,40.67172,-73.8971,"(40.67172, -73.8971)",NaN,NaN,2047 PITKIN AVENUE,...,Unspecified,NaN,NaN,NaN,4487074,Sedan,NaN,NaN,NaN,NaN
9,2021-12-14,2024-03-29 14:58:00,MANHATTAN,10017,40.75144,-73.97397,"(40.75144, -73.97397)",3 AVENUE,EAST 43 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4486519,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [5]:
df = df.drop(['LOCATION','LATITUDE','LONGITUDE','CROSS STREET NAME','OFF STREET NAME','CONTRIBUTING FACTOR VEHICLE 2','CONTRIBUTING FACTOR VEHICLE 3','CONTRIBUTING FACTOR VEHICLE 4','CONTRIBUTING FACTOR VEHICLE 5','VEHICLE TYPE CODE 2','VEHICLE TYPE CODE 3','VEHICLE TYPE CODE 4','VEHICLE TYPE CODE 5'], axis=1)

In [6]:
df['CRASH DATE'] = pd.to_datetime(df['CRASH DATE'])

df['YEAR'] = df['CRASH DATE'].dt.year

df['CRASH DATE'] = df['CRASH DATE'].dt.date
df['CRASH TIME'] = df['CRASH TIME'].dt.time

In [7]:
df

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,ON STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,COLLISION_ID,VEHICLE TYPE CODE 1,YEAR
0,2021-09-11,02:39:00,NaN,NaN,WHITESTONE EXPRESSWAY,2,0,0,0,0,0,2,0,Aggressive Driving/Road Rage,4455765,Sedan,2021
1,2022-03-26,11:45:00,NaN,NaN,QUEENSBORO BRIDGE UPPER,1,0,0,0,0,0,1,0,Pavement Slippery,4513547,Sedan,2022
2,2022-06-29,06:55:00,NaN,NaN,THROGS NECK BRIDGE,0,0,0,0,0,0,0,0,Following Too Closely,4541903,Sedan,2022
3,2021-09-11,09:35:00,BROOKLYN,11208,NaN,0,0,0,0,0,0,0,0,Unspecified,4456314,Sedan,2021
4,2021-12-14,08:13:00,BROOKLYN,11233,SARATOGA AVENUE,0,0,0,0,0,0,0,0,NaN,4486609,NaN,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2076247,2024-03-05,17:22:00,QUEENS,11436,SUTPHIN BOULEVARD,1,0,0,0,0,0,1,0,Failure to Yield Right-of-Way,4707511,Station Wagon/Sport Utility Vehicle,2024
2076248,2024-03-05,17:00:00,BROOKLYN,11204,NaN,1,0,0,0,0,0,1,0,Driver Inexperience,4707419,Ambulance,2024
2076249,2024-03-03,17:50:00,NaN,NaN,SAINT MARKS AVENUE,1,0,0,0,0,0,1,0,Aggressive Driving/Road Rage,4707855,Station Wagon/Sport Utility Vehicle,2024
2076250,2024-03-05,14:30:00,BROOKLYN,11207,MILLER AVENUE,1,0,1,0,0,0,0,0,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,4707872,Station Wagon/Sport Utility Vehicle,2024
2076251,2024-03-05,08:00:00,QUEENS,11385,EDSALL AVENUE,1,0,0,0,0,0,1,0,Failure to Yield Right-of-Way,4707447,Sedan,2024

In [8]:
df.to_csv('../data/dataframe.csv', index=False) # just writing for reference, add your own absolute path